<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Aviationable</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <%= javascript_pack_tag 'application' %>
        <%= stylesheet_link_tag "admin", media: "all" %>
        <%= javascript_include_tag "admin" %>
    </head>

    <body>

        <!-- Navigation Bar-->
        <% if current_user.present? && !current_user.admin? && action_name == 'show' %>
        <header>
              <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#">Aviationable</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <% if user_signed_in? %>
                      <li class="nav-item">
                        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
                      </li>
                      <% else %>
                    <li class="nav-item">
                      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Register</a>
                    </li>
                    <% end %>
                  </ul>

                </div>
              </nav>
            </header>
        </header>
        
        <% else %>
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">
                  
                    <!-- Logo container-->
                    <div class="logo">
                        <!-- Text Logo -->
                        <!-- <a href="index.html" class="logo">
                            <span class="logo-small"><i class="mdi mdi-radar"></i></span>
                            <span class="logo-large"><i class="mdi mdi-radar"></i> Highdmin</span>
                        </a> -->
                        <!-- Image Logo -->
                        
                    </div>
                    <!-- End Logo container-->


                    <div class="menu-extras topbar-custom">

                        <ul class="list-unstyled topbar-right-menu float-right mb-0">

                            <li class="menu-item">
                                <!-- Mobile menu toggle-->
                                <a class="navbar-toggle nav-link">
                                    <div class="lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <!-- End mobile menu toggle-->
                            </li>

                       

                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <span class="ml-1 pro-user-name">Hi!<i class="mdi mdi-chevron-down"></i> </span>
                          
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h6 class="text-overflow m-0">Welcome!</h6>
                                    </div>
                                    <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item notify-item" do %>
                                        <i class="fi-power"></i> <span>Logout</span>
                                   <% end %>

                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- end menu-extras -->

                    <div class="clearfix"></div>

                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->

            <div class="navbar-custom">
                <div class="container-fluid">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">

                            <li class="has-submenu">
                                <a href="/companies"><i class="icon-speedometer"></i>Dashboard</a>
                            </li>
                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        
           
          <% end %>
        <!-- End Navigation Bar-->


        <div class="wrapper">
            <%= yield %>
        </div>
        <!-- end wrapper -->


        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        2018 © Aviationable.com
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

    </body>
</html>